In [ ]:
# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the 
#year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = 
#[1980, 1981, 1982, 1983, 1984, 1985].
ANS -

In [1]:
# ANS of 1st Q
years_list = [i for i in range(1999,1999+6)]
years_list

[1999, 2000, 2001, 2002, 2003, 2004]

In [ ]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
ANS -

In [2]:
# ANS of 2nd Q
years_list[3]

2002

In [ ]:
# 3.In the years list, which year were you the oldest?
ANS -

In [3]:
# ANS of 3rd Q
max(years_list)

2004

In [ ]:
# 4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.
ANS -

In [4]:
# ANS of 4th Q
things =['mozzarella', 'cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
# 5. Capitalize the element in things that refers to a person and then print the list. 
#    Did it change the element in the list?
ANS -

In [5]:
# ANS of 5th Q
for i in things:
  print(i.capitalize())
things #Did not change the elemnts

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
# 6. Make a surprise list with the elements "Groucho", "Chico", and "Harpo"
ANS -

In [6]:
# ANS of 6th Q
surprise = [ "Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

In [ ]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
ANS -

In [7]:
# ANS of 7th Q
surprise[-1].lower()

'harpo'

In [8]:
surprise[-1][::-1]

'opraH'

In [9]:
surprise[-1][::-1].upper()

'OPRAH'

In [ ]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, 
#   cat is chat, and walrus is morse
ANS -

In [10]:
## ANS of 8th Q
e2f = {"dog" : "chien", "cat" : "chat" , "warlus" : "morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'warlus': 'morse'}

In [ ]:
# 9. Write the French word for walrus in your three-word dictionary e2f

In [11]:
# ANS of 9th Q
e2f["warlus"]

'morse'

In [ ]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method
ANS -

In [12]:
# # ANS of 10th Q
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'warlus'}

In [ ]:
# 11. Print the English version of the French word chien using f2e.
ANS -

In [13]:
# ANS of 11th Q
f2e['chien']

'dog'

In [ ]:
# 12. Make and print a set of English words from the keys in e2f.
ANS -

In [14]:
# ANS of 12th Q
for i in e2f :
  print(i)

dog
cat
warlus

In [15]:
e2f.keys()

dict_keys(['dog', 'cat', 'warlus'])

In [ ]:
# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', 
# and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
# Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the 
# other keys refer to empty dictionaries.
# ANS -

In [16]:
# ANS of 13th Q
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [ ]:
# 14. Print the top-level keys of life.
ANS -

In [17]:
# ANS of 14th Q
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [ ]:
#15. Print the keys for life['animals']
ANS -

In [18]:
# ANS of 15th Q
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [ ]:
#16. Print the values for life['animals']['cat']
ANS -

In [19]:
# ANS of 16th Q
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']